$("body").append("<div class='ajax-signup pop-up pop-up-background z-index-high'><%= j(render 'customization/registrations/new') %></div>");
$(".flexible-margin-pop-up").css("margin-top",getScrollTop() + 50);