$("body").append("<div class='add-task-week-view pop-up pop-up-background z-index-high'><%= j(render :partial => 'next_seven_days_add_task_get.html.slim') %></div>");
$(".flexible-margin-pop-up").css("margin-top",getScrollTop() + 50);