$("body").append("<div class='add-task-get pop-up pop-up-background z-index-high'><%= j(render :partial => 'task_view_create_get.html.slim') %></div>");
$(".flexible-margin-pop-up").css("margin-top",getScrollTop() + 50);