$(".devise-edit").remove();
$("body").append("<div class='devise-edit pop-up pop-up-background z-index-1001'><%= j(render 'edit.html.erb') %></div>");
$("div.disable-popup.font-bold.font-20").after("<div class='alert alert-success text-center' role='alert'>Password updated</div>");