$("body").append("<div class='application-contact pop-up pop-up-background z-index-1001'><%= j(render 'user/application_contact') %></div>")
$(".flexible-margin-pop-up").css("margin-top",getScrollTop() + 50);