<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user.name %> requested contact</h3>
    <h3>Email: <%= @user.email %></h3>
    <p>Message: <%= @user.content %></p>
  </body>
</html>