// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.bg-color-2a88bf {
    background-color: #2a88bf;
}
.bg-color-23719f {
    background-color: #23719f;
}
.navbar-button-hover:hover {
    background-color: #fff;
    color: #23719f;
}
*/
.html {
    height: 100%;
}
.body {
    min-height: 100%;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-7 {
    margin-top: 7px;
}
.m-t-17 {
    margin-top: 17px;
}
.m-t--50 {
    margin-top: -50px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-50 {
    margin-bottom: 50px;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-t-50 {
    margin-top: 50px;
}
.m-r-50 {
    margin-right: 50px;
}
.m-l-50 {
    margin-left: 50px;
}
.m-l-5 {
    margin-left: 5px !important;
}
.m-r-20 {
    margin-right: 20px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-b-60 {
    margin-bottom: 60px;
}
.m-b-0 {
    margin-bottom: 0px;
}
.m-t-150 {
    margin-top: 150px !important;
}
.m-l-30 {
    margin-left: 30px;
}
.droid-sans {
    font-family: 'Droid Sans', sans-serif;
}
.color-337ab7 {
    color: #337ab7;
}
.p-t-14 {
    padding-top: 14px;
}
.font-30-bold {
    font-size: 30px;
    font-weight: bold;
}
.font-15 {
    font-size: 15px;
}
.font-17 {
    font-size: 17px;
}
.font-20 {
    font-size: 20px;
}
.font-30 {
    font-size: 30px;
}
.font-40 {
    font-size: 40px;
}
.font-50 {
    font-size: 50px;
}
.color-337ab7 {
    color: #337ab7;
}
.font-bold {
    font-weight: bold;
}
.margin-auto {
    margin: 0 auto;
}
.width-33 {
    width: 33%;
}
.width-27 {
    width: 27%;
}
.width-56px {
    width: 56px;
}
.height-56px {
    height: 56px;
}
.vertical-align-top {
    vertical-align: top;
}

.container-480 {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.pop-up {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.pop-up-background {
    background-color: transparentize(black,.5);
    min-height: 100%;
}
.z-index-high {
    z-index: 20;
}
.disable-popup {
    position: relative;
    left: 90%;
    top: -65px;
    width: 10px;
    cursor: pointer;
}
.clear-for-ajax {
    min-height: 78vh;
}
.no-text-decoration:link {
    text-decoration: none !important;
}
.no-text-decoration:visited {
    text-decoration: none !important;
}
.no-text-decoration:hover {
    text-decoration: none !important;
}
.no-text-decoration:active {
    text-decoration: none !important;
}
#main_menu {
    min-height: 70px;
}
.dropdown2 {
    width: 100%;
}
#dropdown2 {
    width: 100%;
}
.table-customized {
    width: 50%;
    margin: 0 auto;
}
.font-color-97d077 {
    color: #97d077;
}
.min-height-400 {
    min-height: 400px;
}
.adding-new-task {
    position: relative !important;
    top: 125px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.height-100 {
    height: 100%;
}
.btn.btn-primary.height-56px.vertical-align-top {

}

@media (max-width: 310px) {
    #logo {
        // font-size:14px;
    } 
}

@media (max-width: 768px) {
    .droid-sans.font-17 {
        font-size: 15px;
    }
    #dropdown1 {
        float: right;
        margin-top: 10px;
        margin-right: 20px;
    }
    .dropdown-menu {
        left: auto;
        right: 20px;
    }
}

