$("body").append("<div class='task-edit-get pop-up pop-up-background z-index-high'><%= j(render :partial => 'todo_task_edit_get.html.slim') %></div>");
$(".flexible-margin-pop-up").css("margin-top",getScrollTop() + 50);